<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smhrd.Mapper.BoardMapper">
	<select id="getList" resultType="com.smhrd.entity.Board">
		select * from myBoard
	</select>
	<select id="boardContent" parameterType="int" resultType="com.smhrd.entity.Board">
		select * from myBoard where idx = #{idx}
	</select>
	<insert id="boardInsert" parameterType="com.smhrd.entity.Board">
   		<selectKey order="BEFORE" keyProperty="idx" resultType="int"> 
			SELECT MYBOARD_SEQ_IDX.NEXTVAL FROM DUAL
		</selectKey>
		insert into myBoard values(#{idx},#{title}
		,#{content},#{writer},sysdate,null)
	</insert>
	<delete id="boardDelete" parameterType="int">
		delete from myboard where idx = ${idx}
	</delete>
	<update id="boardUpdate" parameterType="com.smhrd.entity.Board">
		UPDATE myboard SET title = #{title}, content = #{content} where idx = #{idx}
	</update>
</mapper>